.contestPreview {
  margin: 1em;
  border: 1px solid #ccc;
  cursor: pointer; }
  .contestPreview .category_name {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee; }
  .contestPreview .contest_name {
    padding: 0.5em; }

#root {
  margin: 2rem 0; }
